
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}




.titre{
    color: white;
}

h2{
    color: aqua;
}

p {
    color: white;
    margin: 10px 0;
    font-weight: bold;
}

span {
    font-weight: bold;
}

form {
    margin-top: 20px;
}

/* partie radio */


input[type="radio"] {
    display: on;
}

/* off par defaut */
label[for="stopReading"] {
    background-color: #ed0c0c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

/* case checked */
input[type="radio"][id="stopReading"]:checked + label {
    background-color: #4CAF50;
}

/* off par defaut */
label[for="startReading"] {
    background-color:  #ed0c0c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

/* vert is oui */
input[type="radio"][id="startReading"]:checked + label {
    background-color:#4CAF50;  
}
